.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

Data/reference/*
!Data/reference/valid_diagnosing_trusts.csv
!Data/reference/snomed_og_lookup.csv
!Data/reference/site_trust_map.csv

Data/sim/
Data/intermediates/
Data/OG/
Data/OG_test/
*.rds
*.dta
inventory_report.txt
